*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.topbar{
    background-color: #0066FF;
    width: 100vw;
    max-width: 1920px;
    max-height: 75PX;
    height: 25vh;
    position: relative;
   

}
.leave{
    display: flex;
    position: relative;
    left: 95vw;
    top: -35px;
    width: 31px;
    height: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.leave:hover{
    color: black;
}
.leave:link{
    text-decoration: none;
}
.leaveicon{
    display: flex;
    position: relative;
    left: 93.4vw;
    top: -55px;
}
.container{
    position: relative;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container label{
    color: #4C4646;
}
.searchbar{
    position: relative;
    padding-left: 100px;
    left: 8%;
    border-radius: 4px;
    border: 2px, solid, black;
    height: 50px;
    display: flex;
    top: 4px;
    
}
.placeholder1{
    position: relative;
    display: flex;
    height: 30px;
    max-width: 250px;
    width: 100vw;
    color: rgba(196, 196, 196, 1);
    top: 50%;
    left: 19%;
}
.month{
    display: flex;
    position: relative;
    left: 8%;
    top: 6px;

}
#month{
    display: flex;
    position: relative;
    height: 30px;
    max-width: 250px;
    width: 100vw;
    top: 50%;
    left: 50%;
}
#firstday{
    display: flex;
    position: relative;
    height: 30px;
    width: 100vw;
    max-width: 80px;
    color: rgb(109, 102, 102);
    top: 50%;
    left: -3%;
}
#trc{
    display: flex;
    position: relative;
    top: 50%;
}
#secondday{
    display: flex;
    height: 30px;
    width: 100vw;
    max-width: 80px;
    color: rgb(109, 102, 102);
    position: relative;
    top: 50%;
    left: 1px;
}
.day{
    display: flex;
    position: relative;
    left: 9%;
}
#day1{
    display: flex;
    position: relative;
    left: 5%;
    top: 5px;
}
#search{ 
    position: relative;
    height: 30px;
    width: 100vw;
    max-width: 200px;
    cursor: pointer;
    top: 50%;
    left: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container button{
    color: #000000;
}

.maintable1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;
    top: 5%;
    padding-top: 2%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    border-collapse: collapse;
    width: 100vw;
   
}
table td{
    border: 1px gray solid;
    height: 19px;
    width: 1053px;
    vertical-align: middle;
    border-spacing: 2px;
    border-collapse: collapse;
    color: rgb(49, 46, 46);
}
table th{
    border: 1px black solid;
    height: 19px;
    width: 1053px;
    vertical-align: middle;
    border-spacing: 2px;
    border-collapse: collapse;
    
}
.call{
    display: flex;
    position: relative;
    left: 3%;
    top: 155%;
    width: 90vw;
    max-width: 90px;
    height: 25vh;
    max-height: 90px;
}

.footerbttns{
    display: flex;
    bottom: 0;
    position: absolute;
}


.mainscrn{
    width: 100vw;
    max-width: 120px;
    height: 36px;
    cursor: pointer;
  
}
.signupclt{
    max-width: 158px;
    width: 100vw;
    height: 36px;
    cursor: pointer;
    
}
.rqst{
    max-width: 74px;
    width: 100vw;
    height: 36px;
    cursor: pointer;
    

}
.payiment{
    max-width: 106px;
    width: 100vw;
    height: 36px;
    cursor: pointer;
   
}
.dlvr{
    max-width: 125px;
    width: 100vw;
    height: 36px;
    cursor: pointer;
   
}
.confirmdlvr{
    max-width: 205px;
    width: 100vw;
    height: 36px;
    cursor: pointer;
    

}

button{
    background: rgba(196, 196, 196, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
}
button:hover{
    pointer-events: fill;
    background-color: gray;
    transition: all 0.5s;
}
.imglogo{
    display: flex;
    position: absolute;
    width: 468px;
    height: 273px;
    left: 700px;
    top: 35%;
}
.call:hover{
    transform: scale(1.2);
    transition: all 0.5s;

}
